---
import Section from "@/components/ui/Section.astro";
import DescriptionList from "../ui/DescriptionList.astro";

const formatDates = (dates, uncertain) =>
	dates.length > 0 ? `${dates.map((d) => d.value).join(", ")}${uncertain ? " (?)" : ""}` : null;
const formatProvPlaces = (prov_places, type) => {
	const placesOfType = prov_places.filter((pp) => pp.type === type);
	if (placesOfType.length === 0) return null;

	return placesOfType
		.map((pp) => {
			const placeNames = pp.places.map((p) => p.value).join(", ");
			const fromDates = formatDates(pp.from, pp.uncertain_from);
			const tillDates = formatDates(pp.till, pp.uncertain_till);

			let dateStr = "";
			if (fromDates) dateStr += `ab ${fromDates} `;
			if (tillDates) dateStr += `bis ${tillDates}`;

			return `${placeNames} ${dateStr}`.trim();
		})
		.join("; ");
};
const { unit } = Astro.props;
---

<Section heading={`Kodikologische Einheiten ${unit?.number}`} id="codUnits">
	<p class="px-3 text-brand-900">{unit.notes}</p>
	<DescriptionList
		items={[
			{
				label: "Material:",
				value: unit.material
					? `${unit.material}${unit.material_spec ? `: ${unit.material_spec}` : ""}${unit.basic_structure.length > 0 ? ` (${unit.basic_structure.join(", ")})` : ""}`
					: "N/A",
			},
			{
				label: "Fols:",
				value: unit.locus || "N/A",
			},
			...(unit.quiremarks ? [{ label: "Kustoden:", value: unit.quiremarks }] : []),
			...(unit.catchwords ? [{ label: "Reklamanten:", value: unit.catchwords }] : []),
			...(unit.heigth && unit.width
				? [
						{
							label: "Maße:",
							value: `${unit.heigth} × ${unit.width} mm${unit.written_height && unit.written_width ? ` [${unit.written_height} × ${unit.written_width} mm]` : ""}`,
						},
					]
				: []),
			...(unit.columns.length > 0 ? [{ label: "Spalten:", value: unit.columns.join(", ") }] : []),
			...(unit.lines_number ? [{ label: "Zeilen:", value: unit.lines_number }] : []),
			...(unit.decoration ? [{ label: "Dekoration:", value: unit.decoration }] : []),
			...(formatProvPlaces(unit.prov_place, "orig")
				? [{ label: "Entstehungsort:", value: formatProvPlaces(unit.prov_place, "orig") }]
				: []),
			...(formatProvPlaces(unit.prov_place, "prov")
				? [{ label: "Provenienz:", value: formatProvPlaces(unit.prov_place, "prov") }]
				: []),
		]}
	/>
</Section>
