---
const { manuscript } = Astro.props;
import NavLink from "@/components/nav-link.astro";
import { Icon } from "astro-icon/components";
---

<div class="grid justify-center gap-2 md:flex md:justify-between">
	<div class="flex gap-2 md:justify-start">
		{
			manuscript.handschriftenportal_url && (
				<NavLink
					href={manuscript.handschriftenportal_url}
					class="border border-brand-800 rounded-md py-2 px-4 bg-brand-600  text-brand-100 hover:bg-brand-100 hover:text-brand-800 transition"
				>
					HSP
				</NavLink>
			)
		}
		{
			manuscript.manuscripta_url && (
				<NavLink
					href={manuscript.manuscripta_url}
					class="border border-brand-800 rounded-md py-2 px-4 bg-brand-600 bg-opacity-85 text-brand-100 hover:bg-brand-100 hover:text-brand-800 transition"
				>
					manuscripta
				</NavLink>
			)
		}
		{
			manuscript.digi_url && (
				<NavLink
					href={manuscript.digi_url}
					class="border border-brand-800 rounded-md py-2 px-4 bg-brand-600 bg-opacity-85 text-brand-100 hover:bg-brand-100 hover:text-brand-800 transition"
				>
					Digitalisat
				</NavLink>
			)
		}
		{
			manuscript.catalog_url && (
				<NavLink
					href={manuscript.catalog_url}
					class="border border-brand-800 rounded-md py-2 px-4 bg-brand-600 bg-opacity-85 text-brand-100 hover:bg-brand-100 hover:text-brand-800 transition"
				>
					Katalog
				</NavLink>
			)
		}
	</div>
	{
		manuscript.status.some((status) => status.includes("Bearbeitung")) && (
			<div class="flex items-center gap-x-1.5 justify-center text-brand-800 font-semibold text-xs md:text-base p-2 md:p-0">
				<Icon aria-hidden="true" name="lucide:construction" />
				<span> {manuscript.status.join(" | ")} </span>
				<Icon aria-hidden="true" name="lucide:construction" />
			</div>
		)
	}
	<div class="flex gap-2 justify-center md:justify-end">
		<NavLink
			href=`/tei/manuscripts/${manuscript.hit_id}.xml`
			class="border border-brand-800 rounded-md py-2 px-4 bg-brand-600 text-brand-100 hover:bg-brand-100 hover:text-brand-800 transition"
			id="download-tei">TEI</NavLink
		>
		<NavLink
			href=`/pdf/manuscripts/${manuscript.hit_id}.pdf`
			class="border border-brand-800 rounded-md py-2 px-4 bg-brand-600 text-brand-100 hover:bg-brand-100 hover:text-brand-800 transition"
			id="download-pdf">PDF</NavLink
		>
	</div>
</div>
