---
import NavLink from "@/components/nav-link.astro";
import Section from "@/components/ui/Section.astro";
import DescriptionList from "@/components/ui/DescriptionList.astro";
import DescriptionListItem from "@/components/ui/DescriptionListItem.astro";
const { manuscript } = Astro.props;

const origDates = manuscript?.orig_date
	?.map((d) => {
		const date = d.date.length > 0 ? d.date.map((date) => date.value).join(", ") : null;

		if (!date) return null;

		return {
			date,
			authority: d.authority[0]?.author,
			citation: d.authority[0]?.citation,
			page: d.page,
			link: d.authority[0]?.link,
		};
	})
	.filter(Boolean);
---

<Section heading="Geschichte" id="msHistory">
	{
		manuscript?.history !== undefined ? (
			<p class="px-3 text-brand-900">{manuscript?.history}</p>
		) : (
			""
		)
	}
	<DescriptionList>
		<DescriptionListItem label="Herkunfsort:">
			{manuscript?.orig_place.map((place) => place.value).join(", ")}</DescriptionListItem
		>
		<DescriptionListItem label="Provenienz:">
			{manuscript?.provenance.map((prov) => prov.abbreviation).join(", ")}</DescriptionListItem
		>
		<DescriptionListItem label="Datierung:">
			{
				origDates.map((d, index) => (
					<>
						{d.date}
						{d.authority && ` nach ${d.authority}`}

						{d.link ? (
							<NavLink href={d.link}>{` (${d.citation}${d.page ? `, S. ${d.page}` : ""})`}</NavLink>
						) : (
							d.citation && ` (${d.citation}${d.page ? `, S. ${d.page}` : ""})`
						)}

						{index < origDates.length - 1 && <br />}
					</>
				))
			}
		</DescriptionListItem>
	</DescriptionList>
</Section>
