---
import NavLink from "@/components/nav-link.astro";
import Section from "@/components/ui/Section.astro";
import type { Stratum } from "@/types";
import TabulatorTable from "@/components/tabulator-table.svelte";
import { strataMsTableConfig } from "@/lib/tabulator-table-configs.js";

const { manuscript } = Astro.props;

const tableData = strataMsTableConfig.transformData(manuscript.strata);
const columns = strataMsTableConfig.getColumns();
const rowClickConfig = strataMsTableConfig.getRowClickConfig;
---

<Section heading="Strata" id="msStrata">
	<!-- use custom dl to have link in dt (DescriptionListItem has label: string) -->
	<dl class="md:grid grid-cols-[1fr_5fr] p-3">
		{
			manuscript.strata.map((stratum: Stratum) => {
				return (
					<>
						<dt class="font-semibold md:border-r border-gray-300 pr-2 justify-self-end">
							<NavLink href={`/strata/${stratum.hit_id}`}>Stratum {stratum.number}:</NavLink>
						</dt>
						<dd class="pl-5">
							<span class="underlined">
								{Array.isArray(stratum.character) && stratum.character.length > 0
									? stratum.character.join(", ")
									: "N/A"}
							</span>
							{stratum?.note ? `: ${stratum.note}` : ""}
						</dd>
					</>
				);
			})
		}
	</dl>
	<div class="text-sm md:text-base">
		<div id="{`${manuscript.shelfmark}-strata-table`}"></div>
	</div>
	<TabulatorTable
		client:only="svelte"
		data={tableData}
		columns={columns}
		tableId={`${manuscript.shelfmark}-strata-table`}
		downloadTitle="{`${manuscript.shelfmark}-strata-table`}"
		rowClickConfig={rowClickConfig}
		updateMapOnFilter={true}
		mapIdField="hit_id"
	/>
</Section>
