---
import PageLayout from "../../layouts/page-layout.astro";
import Button from "../../components/button.astro";
import { Icon } from "astro-icon/components";
import ArticleHeader from "../../components/article-nav-header.astro";
import NavLink from "../../components/nav-link.astro";
import hands from "../../content/data/hands.json";

export async function getStaticPaths() {
	const paths = Object.values(hands).map((item) => ({
		params: { id: item.hit_id.toString() },
		props: { data: item },
	}));

	return paths;
}

const { data: item } = Astro.props;
---

<PageLayout title={item.view_label}>
  <style>
    /* To make the table rows striped */
    tbody tr:nth-child(even) {
      background-color: #fcf1e8;
    }
    tbody tr:nth-child(odd) {
      background-color: #fff8f7;
    }
   
  </style>
	<div>
		<article class="w-full grid grid-cols-1 mx-auto p-5 gap-y-2">
      <ArticleHeader
      prevLink={`/hands/${item.prev.id}`}
      nextLink={`/hands/${item.next.id}`}
      mainTitle={`Schreiberhand: ${item.view_label}`}
    />   
     

			<div class="flex gap-2 justify-end">
				<Button>TEI-XML</Button>
				<Button>PDF</Button>
			</div>
      <section>
        <h2 class="text-2xl text-brandRed p-5 sr-only">Eingaben über die Schreiberhand</h2>
        <dl
				class="border-2 rounded-sm shadow-sm border-gray-200 bg-brandRose grid grid-cols-[1fr_6fr] text-sm md:leading-7 md:text-base p-5"
			  >
            <dt class="font-semibold border-r border-gray-300 pr-2">Handschrift:</dt>
            <dd class="pl-5">
              <NavLink
                href=`/manuscripts/${item.hands_role[0]?.ms_item[0]?.manuscript[0]?.hit_id}`
                class="hover:text-brandRed underline decoration-dotted underline-offset-4"
              >
                {item.manuscript[0]?.value}
              </NavLink>
            </dd>
            <dt class="font-semibold border-r border-gray-300 pr-2">Beschreibung:</dt>
            <dd class="pl-5">{item?.description}</dd>

                    {item.similar_hands.length > 0 &&
                        <dt class="font-semibold border-r border-gray-300 pr-2">Ähnliche Hände:</dt>
                        <dd class="pl-5">
                            {item.similar_hands.map((hand, index) => (
                                <span>
                                    <NavLink href=`/hands/hit_hands__${hand.id}` 
                                    class="hover:text-brandRed underline decoration-dotted underline-offset-4">
                                    {hand.value}
                                    </NavLink>
                                
                                    {index < item.similar_hands.length - 1 && ' | '}
                                </span>
                                ))
                            }
                        </dd>
                    }
                        <dt class="font-semibold border-r border-gray-300 pr-2">Datiert:</dt>
                        <dd class="pl-5">
                            {item.hands_dated.map(dating => {
                                return (
                                    <>
                                      {dating.dated.map(date => date.label)} 
                                      ({dating.authority.map(aut => (
                                        <>
                                            {aut.name}: <span class="italic">{aut.short_title}</span>
                                        </>
                                      ))})  
                                    </>
                                );
                            })}
                        </dd> 

                        <dt class="font-semibold border-r border-gray-300 pr-2">Lokalisiert:</dt>
                        <dd class="pl-5">
                            {item.hands_placed.map(placing => {
                              return (
                                <>
                                  {placing.place.map(location => location.name)} 
                                  ({placing.authority.map(aut => (
                                    <>
                                      {aut.name}: <span class="italic"}>{aut.short_title}</span>
                                    </>
                                  ))})
                                </>
                              );
                            })}
                          </dd>
                          

                    {item.nr_daniel &&
                        <dt class="font-semibold border-r border-gray-300 pr-2">Nummer Daniel:</dt>
                        <dd class="pl-5">{item.nr_daniel}</dd>                
                    }

                    <dt class="font-semibold border-r border-gray-300 pr-2">Rolle:</dt>
                    <dd class="pl-5">
                        {Array.from(new Set(item.hands_role.flatMap(handrole => handrole.role.map(item => item.value)))).join(', ')}
                      </dd>   
                    <dt class="font-semibold border-r border-gray-300 pr-2">Schreiber:</dt>
                    <dd class="pl-5">
                      {item.scribe.length > 0 
                        ? item.scribe.map(scrib => <NavLink class="hover:text-brandRed underline decoration-dotted underline-offset-4" 
                        href={`/scribes/${scrib.hit_id}`}>{scrib.name}</NavLink>)  
                        : 'N/A'
                      }           
                    </dd>                
			  </dl>
      </section>
			
      <section class="overflow-x-auto">
        <h2 class="text-2xl text-brandRed p-5">Beteiligung innerhalb der Handschrift</h2>
        <table class="w-full bg-brandRose table-auto shadow-sm border border-gray-200 lg:leading-7 text-sm lg:text-base data-table">
          <thead class="sticky top-0">
            <tr> 
              <th>                  
                  <form role="search" data-search-form>
                    <label class="flex flex-col items-start p-2">
                      <div>Locus</div>
                      <input type="search" name="q" placeholder="Suche ..." class="mt-2 w-full p-2 border border-gray-300 rounded font-normal">
                    </label>
                  </form>
                </th>
              <th>                  
                <form role="search" data-search-form>
                  <label class="flex flex-col items-start p-2">
                    <div>Werk</div>
                    <input type="search" name="q" placeholder="Suche ..." class="mt-2 w-full p-2 border border-gray-300 rounded font-normal">
                  </label>
                </form>
              </th>            
              <th>              
                  <form role="search" data-search-form>
                    <label class="flex flex-col items-start p-2">
                      <div>Rolle</div>
                      <input type="search" name="q" placeholder="Suche ..." class="mt-2 w-full p-2 border border-gray-300 rounded font-normal">
                    </label>
                  </form>
                </th>
              <th>             
                <form role="search" data-search-form >
                  <label class="flex flex-col items-start p-2">
                    <div>Umfang</div>
                    <input type="search" name="q" placeholder="Suche ..." class="mt-2 w-full p-2 border border-gray-300 rounded font-normal">
                  </label>
                </form>
              </th>            
              <th>             
                  <form role="search" data-search-form>
                    <label class="flex flex-col items-start p-2">
                      <div>Mise-en-page</div>
                      <input type="search" name="q" placeholder="Suche ..." class="mt-2 w-full p-2 border border-gray-300 rounded font-normal">
                    </label>
                  </form>
                </th> 
                <th>             
                  <form role="search" data-search-form>
                    <label class="flex flex-col items-start p-2">
                      <div>Funktion</div>
                      <input type="search" name="q" placeholder="Suche ..." class="mt-2 w-full p-2 border border-gray-300 rounded font-normal">
                    </label>
                  </form>
                </th> 
            </tr>
          </thead>
                
                
          <tbody>
            {item.hands_role.map(role => {
                      return role.ms_item.map(msItem => {
                        return <tr>
                          <td class="px-2">
                            <NavLink class="hover:text-brandRed underline decoration-dotted underline-offset-4" href={`/msitems/${msItem.hit_id}`}>
                                      {msItem.locus_grp}
                                    </NavLink></td>
                          <td class="px-2">{msItem.title_work?.map(work => {
                                      
                                      return  work.author[0]?.name ? `${work.author[0].name}: ${work.title}` : work.title
                                    
                                    }).join(', ')}</td>
                          <td class="px-2">{role.role.map(eachRole => eachRole.value).join(' und ')}</td>
                          <td class="px-2">{role.locus}</td>
                          <td class="px-2">{role.locus_layout.map(scope => scope.value)}</td>
                          <td class="px-2">{role.function.map(func => func.value)}</td>
                        </tr>
                      })
                    })}
          

          </tbody>
             
        </table>
      
      </section>
          
		</article>
	</div>
  <script src="../../lib/table-search.js"></script>
</PageLayout>
