---
import PageLayout from "@/layouts/page-layout.astro";
import Article from "@/components/article.astro";
import NavLink from "@/components/nav-link.astro";
import hands from "@/content/data/hands.json";
import type { Hand } from "@/types";
import Section from "@/components/ui/Section.astro";
import DescriptionList from "@/components/ui/DescriptionList.astro";
import DescriptionListItem from "@/components/ui/DescriptionListItem.astro";

import MapLeaflet from "@/components/map-leaflet.svelte";
import { processHandsData } from "@/lib/make-geojson.ts";

import TabulatorTable from "@/components/tabulator-table.svelte";
import { handTableConfig } from "@/lib/tabulator-table-configs.js";

export async function getStaticPaths() {
	const paths = Object.values(hands).map((item) => ({
		params: { id: item.hit_id.toString() },
		props: { data: item as Hand },
	}));

	return paths;
}

const { data: item } = Astro.props;

// Transform data and prepare columns for Tabulator Table
const tableData = handTableConfig.transformData(item);
const columns = handTableConfig.getColumns();
const rowClickConfig = handTableConfig.getRowClickConfig;

const geoJsonData = processHandsData(item);
const origDates = item?.date
	?.map((d) => {
		const date = d.dated.length > 0 ? d.dated.map((date) => date.value).join(", ") : null;
		if (!date) return null;
		return {
			date,
			authority: d.authority[0]?.author,
			citation: d.authority[0]?.citation,
			page: d.page,
			link: d.authority[0]?.link,
		};
	})
	.filter(Boolean);
const origPlaces = item?.placed
	?.map((placement) => {
		if (!placement || !Array.isArray(placement.place)) return null;

		const place = placement.place.length
			? placement.place
					.map((p) => p?.value)
					.filter(Boolean)
					.join(", ")
			: null;

		if (!place) return null;

		return {
			place,
			authority: placement.authority?.[0]?.author ?? null,
			citation: placement.authority?.[0]?.citation ?? null,
			link: placement.authority?.[0]?.link ?? null,
		};
	})
	?.filter(Boolean);
---

<PageLayout title={item.view_label}>
	<Article
		prevLink={`/hands/${item.prev.id}`}
		nextLink={`/hands/${item.next.id}`}
		mainTitle={`Hand: ${item.view_label}`}
		authorEntry={item.author_entry}
	>
		<div class="border-2 rounded-sm border-brandBrown bg-brand-100">
			<Section heading="Eingaben über die Hand">
				<div class="md:grid grid-cols-[1fr_1fr] gap-5 items-start">
					<DescriptionList>
						<DescriptionListItem label="Handschrift:">
							<NavLink href=`/manuscripts/hit_manuscript__${item.manuscript[0]?.id}`>
								{item.manuscript[0]?.value}
							</NavLink>
						</DescriptionListItem>
						{
							item.description ? (
								<DescriptionListItem label="Beschreibung:">{item?.description}</DescriptionListItem>
							) : null
						}
						{
							item.similar_hands.length > 0 && (
								<DescriptionListItem label="Ähnliche Hände:">
									{item.similar_hands.map((hand, index) => (
										<span>
											<NavLink
												href={`/hands/hit_hands__${hand.id}`}
												class="hover:text-brand-800 underline decoration-dotted underline-offset-4"
											>
												{hand.value}
											</NavLink>

											{index < item.similar_hands.length - 1 && " | "}
										</span>
									))}
								</DescriptionListItem>
							)
						}
						<DescriptionListItem label="Datiert:">
							{
								origDates.map((d, index) => (
									<>
										{d.date}
										{d.authority && ` nach ${d.authority}`}

										{d.link ? (
											<NavLink
												href={d.link}
											>{` (${d.citation}${d.page ? `, S. ${d.page}` : ""})`}</NavLink>
										) : (
											d.citation && ` (${d.citation}${d.page ? `, S. ${d.page}` : ""})`
										)}

										{index < origDates.length - 1 && <br />}
									</>
								))
							}
						</DescriptionListItem>
						<DescriptionListItem label="Lokalisiert:">
							{
								origPlaces.map((pl, index) => (
									<>
										{pl.place}
										{pl.authority && ` nach ${pl.authority}`}

										{pl.link ? (
											<NavLink href={pl.link}>{` (${pl.citation})`}</NavLink>
										) : (
											pl.citation && ` (${pl.citation}`
										)}

										{index < origDates.length - 1 && <br />}
									</>
								))
							}
						</DescriptionListItem>
						{
							item.nr_daniel && (
								<DescriptionListItem label="Nummer Daniel:">{item.nr_daniel}</DescriptionListItem>
							)
						}
						<DescriptionListItem label="Rolle:">
							{item.roles.join(", ")}
						</DescriptionListItem>
						{
							item.scribe.length > 0 && (
								<DescriptionListItem label="Schreiber:">
									{item.scribe.map((scrib) => (
										<NavLink href={`/scribes/hit_scribes__${scrib.id}`}>{scrib.name}</NavLink>
									))}
								</DescriptionListItem>
							)
						}
					</DescriptionList>
					{
						item.placed.length > 0 && (
							<div class="hidden md:block">
								<MapLeaflet client:only="svelte" geoJsonData={geoJsonData} />
							</div>
						)
					}
				</div>
			</Section>
			<Section heading="Beteiligung innerhalb der Handschrift:">
				<div class="text-sm md:text-base">
					<div id="{`${item.label}-table`}"></div>
				</div>
				<TabulatorTable
					client:only="svelte"
					data={tableData}
					columns={columns}
					tableId={`${item.label}-table`}
					downloadTitle={`${item.label}-table`}
					rowClickConfig={rowClickConfig}
					updateMapOnFilter={true}
					mapIdField="hit_id"
				/>
			</Section>
		</div>
	</Article>
</PageLayout>
