---
import PageLayout from "@/layouts/page-layout.astro";
import NavLink from "@/components/nav-link.astro";
import { Icon } from "astro-icon/components";
import Article from "@/components/article.astro";
import Section from "@/components/ui/Section.astro"
import DescriptionList from "@/components/ui/DescriptionList.astro";
import DescriptionListItem from "@/components/ui/DescriptionListItem.astro";
import worksjson from "@/content/data/works.json";
import type {Work} from "@/types";

import TabulatorTable from "@/components/tabulator-table.svelte";
import { workDetailTableConfig } from "@/lib/tabulator-table-configs.js";

import MapLeaflet from "@/components/map-leaflet.svelte";
import {processWorkData} from "@/lib/make-geojson.ts";

export async function getStaticPaths() {
	
const works = Object.values(worksjson);
	const paths = works.map((work) => {
		const workId = work.hit_id;
		return {
			params: { id: workId },
			props: { data: work as Work}, 
		};
	});
	return paths;
}

const { data: work } = Astro.props;
// tranform the data from the to geojson using processWorksData script
const geoJsonData = processWorkData(work as Work);

// Transform data and prepare columns for Tabulator Table
const tableData = workDetailTableConfig.transformData(work.ms_transmission);
// conditions for rendering columns:
const hasVersion = work.ms_transmission.some(item => item.version.length > 0);
const hasTextModification = work.ms_transmission.some(item => item.text_modification.length > 0);
const hasForm = work.ms_transmission.some(item => item.form.length > 0);
const hasCommentedItem = work.ms_transmission.some(item => item.commented_msitem.length > 0);
const hasAnnotationType = work.ms_transmission.some(item => item.annotation_typ.length > 0);
const hasAnnotationDate = work.ms_transmission.some(item => item.annotation_date.length > 0);
const columns = workDetailTableConfig.getColumns(hasVersion, hasTextModification, hasForm, hasAnnotationType, hasAnnotationDate, hasCommentedItem);
const rowClickConfig = workDetailTableConfig.getRowClickConfig(); 

---

<PageLayout title={work?.title}>
	
	<Article
		prevLink={`/works/${work.prev.id}`}
		nextLink={`/works/${work.next.id}`}
		mainTitle={
			work.author.length > 0
			  ? work.author.map((item) => item.name).join(', ') + ': ' + work.title
			  : work?.title
		  }
		 > 
		<div
			class="border-2 rounded-sm border-brandBrown bg-brand-100
			text-sm md:leading-7 md:text-base"
		>
		<section class="m-5 overflow-x-auto space-y-5" aria-labelledby="transmission">
				<h2 id="transmission" class="text-xl font-semibold text-brand-800">Allgemeine Info zum Werk:</h2>
				
		
			<DescriptionList>
				<DescriptionListItem label="Titel:">
					{work?.title}
							{String(work?.gnd_url).trim() &&
									<NavLink href={work.gnd_url}>
										(GND: {work.gnd_url.split("gnd/")[1]}
										<Icon
											class="inline-flex align-baseline"
											aria-hidden="true"
											name="lucide:external-link"
										/>)
									</NavLink>
						}			
				</DescriptionListItem>
				{work.author.length > 0 && (
					<DescriptionListItem label="Author:">
							{work.author.map((item) => 
									<ul>
										<li>{item.name} {item.gnd_url && (						
											<NavLink href={item.gnd_url}>
												(GND: {item.gnd_url.split("gnd/")[1]}
												<Icon
													class="inline-flex align-baseline"
													aria-hidden="true"
													name="lucide:external-link"
												/>)
											</NavLink>)
										}</li>
									</ul>)}
					</DescriptionListItem>)}
				{work.bibliography.length > 0 && (
					<DescriptionListItem label="Bibliographie:">
						{work.bibliography.map((item) => item).join('; ')}
					</DescriptionListItem>)}
				{work.source_text.length > 0 &&		(	
					<DescriptionListItem label="Quellen:">
						{work.source_text.map((text) => (
							<>
								<NavLink href={`/works/${text.hit_id}`}>
									{text.author ? `${text.author}: ${text.title}`: text.title}
								</NavLink>
										
								{work.note_source ? <span>({work.note_source})</span> : ""}
							</>))
						}
					</DescriptionListItem>)}
				{work.joined_transmission.length > 0 && (
					<DescriptionListItem label="Überlieferungsgemeinschaft:">
						<ul class="list-disc list-inside" data-showmore-list>
									{work.joined_transmission.slice(0, 2).map((tr) => (
										<li>
										<NavLink href={`/works/${tr.hit_id}`}>{tr.author.length > 0 ? `${tr.author[0].name}: ${tr.title}` : tr.title}</NavLink>
										</li>
									))}
									{work.joined_transmission.slice(2).map((tr) => (
										<li class="hidden" data-showmore-item>
										<NavLink href={`/works/${tr.hit_id}`}>{tr.title}</NavLink>
										</li>
									))}
								</ul>
								{work.joined_transmission.length > 2 && (
									<button
										class="px-3 py-1 bg-brand-600 text-brand-50 rounded hover:bg-brand-800 text-sm mt-1"
										data-showmore-btn
										aria-expanded="false"
									>
										Show more
									</button>
									)}
					</DescriptionListItem>
				)}
				{work.genre.length > 0 && (
					<DescriptionListItem label="Genre:">
						{work.genre.map((item, index) => {
							return (
								<>
									{item.main_genre.length > 0 &&
										item.value}
									{index < work.genre.length - 1 && " | "}
								</>
							);
						})}
					</DescriptionListItem>
				)}
			</DescriptionList>
		</section>
			

		{work.ms_transmission.length > 0 && (
			<section class="m-5 overflow-x-auto space-y-5" aria-labelledby="transmission">
				<h2 id="transmission" class="text-xl font-semibold text-brand-800">Überlieferung:</h2>
				
				{/* {work.ms_transmission?.map(tr => tr.orig_place).flat().length > 0 &&					
					
				} */}

				{/* mss transmission in details for small screens */}
				{work.ms_transmission.map((item) => (
				<div class="lg:hidden">
					<Section heading={item.manuscript[0].value}>
						<DescriptionList>
							<DescriptionListItem label="Handschrift">
								<NavLink href={`/manuscripts/hit_manuscript__${item.manuscript[0].id}`}>
									{item.manuscript[0].value}
								</NavLink>
							</DescriptionListItem>
							<DescriptionListItem label="Locus">	
								<NavLink href={`/msitems/${item.hit_id}`}>
									{item.locus}
								</NavLink>
							</DescriptionListItem>
							{item?.commented_msitem.length > 0 && (
								<DescriptionListItem label="Zusammengehörig">
									{item.commented_msitem.length > 0 && (
										<ul class="list-disc list-inside mt-1">
										{item.commented_msitem.map((msitem) => (
											<li>
											<NavLink href={`/msitems/${msitem.hit_id}`}>
												{msitem.title}
											</NavLink>
											</li>
										))}
										</ul>
									)}
								</DescriptionListItem>
							)}
							<DescriptionListItem label="Schreibort">									
								{[...new Set(item.orig_place.flatMap(p => p.place.map(pl => pl.value)))].join(', ')}
							</DescriptionListItem>
							<DescriptionListItem label="Datierung">
								{[...new Set(item.orig_date.flatMap(oDat => oDat.date.map(d => d.value)))].join(' | ')}
							</DescriptionListItem>
							{item.annotation_date.length > 0 &&	(
								<DescriptionListItem label="Annotationen - Datierung">
									{[...new Set(item.annotation_date.flatMap(anDat => anDat.date.map(d => d.value)))].join(' | ')}
								</DescriptionListItem>
							)
							}
							{item.annotation_typ.length > 0 && (
								<DescriptionListItem label="Annotationen - Typ">
									{[...new Set(item.annotation_typ.map(type => type))].join(' | ')}
								</DescriptionListItem>)
							}
							{item.version.length > 0 && (
								<DescriptionListItem label="Version">
									{[...new Set(item.version.map(ver => ver.value))].join(' | ')}
								</DescriptionListItem>
							)}
							{item.text_modification.length > 0 && (
								<DescriptionListItem label="Textmodifikation">
									{[...new Set(item.text_modification)].join(' | ')}
								</DescriptionListItem>
							)
									
								}
							{item.decoration.length > 0 && (
								<DescriptionListItem label="Dekoration">									
									{[...new Set(item.decoration.map(deco => deco.value))].join(' | ')}
								</DescriptionListItem>
							)}
						</DescriptionList>
					</Section>
				</div>))}
				{/* // table for medium and larger screens */}
				<div class="hidden lg:block mt-3">    
					<TabulatorTable 
					client:load 
					data={tableData}
					columns={columns}
					tableId="work-detail-table"
					options={{
						paginationSize: 25,
						responsiveLayout: "collapse",
					}}
					downloadTitle = {work.title.replace(/\s+/g, '_').toLowerCase()},
					updateMapOnFilter={true}
						mapIdField="hit_id"
					rowClickConfig={rowClickConfig}
					>
						
						<MapLeaflet slot="map" client:only="svelte" geoJsonData={geoJsonData}/>
					
					</TabulatorTable>
				
				</div>
			</section>
			
			)}
			</div>
	</Article>
	
</PageLayout>
