---
import PageLayout from "@/layouts/page-layout.astro";
import Article from "@/components/article.astro";
import NavLink from "@/components/nav-link.astro";
import scribesJson from "@/content/data/scribes.json";

import MapLeaflet from "@/components/map-leaflet.jsx";
import {processScribesData} from "@/lib/make-geojson.js";

export async function getStaticPaths() {
	const scribes = Object.values(scribesJson);

	const paths = scribes.map((scribe) => {		
		return {
			params: { id: scribe.hit_id },
			props: { data: scribe},
		};
	});
	return paths;
}

const { data: scribe } = Astro.props;
const geoJson = processScribesData(scribe);
---

<PageLayout title={scribe.name}>
	
	
    <Article
            prevLink={`/scribes/${scribe.prev.id}`}
            nextLink={`/scribes/${scribe.next.id}`}
            mainTitle={`Schreiber: ${scribe.name}`}
          >          
            

			<!-- <div class="flex gap-2 justify-end">
				<Button>TEI-XML</Button>
				<Button>PDF</Button>
			</div> -->
			<section class="border-2 rounded-xs shadow-xs border-neutral-200 bg-brand-100  p-5">
				<h2 class="text-lg md:text-xl font-semibold py-3 text-brand-800">Eingaben über den/die SchreiberIn</h2>
                <div class="md:grid grid-cols-[1fr_1fr] gap-5 items-start ">
				<dl
					class="grid grid-cols-[1fr_6fr] text-sm md:leading-7 md:text-base"
				>
					<dt class="font-semibold border-r border-neutral-200 pr-2">Beschreibung:</dt>
					<dd class="pl-5">{scribe?.description}</dd>
					
					<dt class="font-semibold border-r border-neutral-200 pr-2">Datierung der Hände:</dt>
					<dd class="pl-5">
                        <ul>
                            {scribe.date.map((dating) => {
                                return (
                                    <li>
                                    {dating.dated.map(date => date.value)} 
                                    {dating.authority.length > 0
                                                     ? ` (${dating.authority.map((aut) => 
                                                            aut.citation && aut.citation.trim() !== '' 
                                                            ? aut.citation 
                                                            : 'N/A').join(', ')})`
                                                     : ''
                                                } 
                                    </li>
                                );
                            })}
                        </ul>
                    </dd>
					<dt class="font-semibold border-r border-neutral-200 pr-2">Lokalisierung:</dt>
					<dd class="pl-5">
                        <ul>
                            {scribe.places.map((placement) => {
                                 return (
                                            <li>
                                            {placement.place.map(location => location.value).join(', ')}                                             
                                            {placement.authority.length > 0
                                                     ? ` (${placement.authority.map((aut) => 
                                                            aut.citation && aut.citation.trim() !== '' 
                                                            ? aut.citation 
                                                            : 'N/A').join(', ')})`
                                                     : ''
                                                }
                                             
                                                </li>
                                        );
                                        })}
                        </ul>
                    </dd>
				</dl>
                <MapLeaflet client:only="react"
                    geoJsonData={geoJson}></MapLeaflet>
                </div>
            </section>
            <section>
                <h2 class="sr-only">Zugewiesene Schreiberhände</h2>
                {scribe.hands.map((hand) => {
                    return (
                        <details open class="border-2 rounded-xs shadow-xs border-neutral-200 bg-brand-100 my-5">
                            <summary class="text-lg md:text-xl font-semibold py-3 text-brand-800 p-5">
                                Schreiber in {hand.manuscript[0]?.value}
                            </summary>
                            <div>
                                <h3 class="sr-only">Eingaben über die Schreiberhand</h3>
                                <dl class="grid grid-cols-[1fr_6fr] text-sm md:leading-7 md:text-base p-5">
                                    <dt class="font-semibold border-r border-neutral-200 pr-2">Hand:</dt>
                                    <dd class="pl-5">
                                        <NavLink href={`/hands/${hand.hit_id}`}
                                class="hover:text-brand-800 underline decoration-dotted underline-offset-4">{hand.label.split('_')[1]}
                                    </NavLink>
                                    </dd>
                                    <dt class="font-semibold border-r border-neutral-200 pr-2">Handschrift:</dt>
                                    <dd class="pl-5">
                                    <NavLink href={`/manuscripts/hit_manuscript__${hand.hand_roles[0]?.content[0]?.manuscript[0]?.id}`}>
                                        {hand.manuscript[0]?.value}
                                    </NavLink>
                                    </dd>
                                    <dt class="font-semibold border-r border-neutral-200 pr-2">Beschreibung:</dt>
                                    <dd class="pl-5">{hand?.description}</dd>

                                    {hand.similar_hands?.length > 0 &&
                                        <dt class="font-semibold border-r border-neutral-200 pr-2">Ähnliche Hände:</dt>
                                        <dd class="pl-5">
                                            {hand.similar_hands.map((h, index) => (
                                                <span>
                                                    <NavLink href={`/hands/hit_hands__${h.id}`}>
                                                    {h.value}
                                                    </NavLink>
                                                
                                                    {index < hand.similar_hands?.length - 1 && ' | '}
                                                </span>
                                                ))
                                            }
                                        </dd>
                                    }
                                    <dt class="font-semibold border-r border-neutral-200 pr-2">Datiert:</dt>
                                    <dd class="pl-5">
                                        {hand.date.map(dating => {
                                            return (
                                                <>
                                                {dating.dated.map(date => date.value)} 
                                                ({dating.authority.length > 0
                                                     ? dating.authority.map((aut) => aut.citation ?? 'N/A').join(', ')
                                                     : ''
                                                })
                                               
                                                </>
                                            );
                                        })}
                                    </dd> 

                                    <dt class="font-semibold border-r border-neutral-200 pr-2">Lokalisiert:</dt>
                                    <dd class="pl-5">
                                        {hand.placed.map((placing, index) => {
                                        return (
                                            <>
                                            {placing.place.map(location => location.value).join(', ')}                                             
                                            {placing.authority.length > 0
                                                     ? ` (${placing.authority.map((aut) => 
                                                            aut.citation && aut.citation.trim() !== '' 
                                                            ? aut.citation 
                                                            : 'N/A').join(', ')})`
                                                     : ''
                                                }
                                               {index < hand.placed.length - 1 && ' | '}
                                                </>
                                        );
                                        })}
                                    </dd>
                                                

                                    {hand.nr_daniel &&
                                        <dt class="font-semibold border-r border-neutral-200 pr-2">Nummer Daniel:</dt>
                                        <dd class="pl-5">{hand.nr_daniel}</dd>                
                                    }

                                    <dt class="font-semibold border-r border-neutral-200 pr-2">Rolle:</dt>
                                    <dd class="pl-5">
                                        {(hand.roles).join(', ')}
                                    </dd>   
                                                
                                </dl>
                            </div>
                            <div class="m-5 overflow-x-auto">
                                <h3 class="sr-only">Beteiligung der Hand innerhalb der Handschrift</h3>
                                <table class="w-full bg-brand-100 shadow-xs border-t border-gray-200 lg:leading-7 text-sm lg:text-base data-table">
                                    <thead>
                                        <tr> 
                                            <th class="text-center p-2 font-semibold border border-neutral-200">Locus</th>
                                            <th class="text-center p-2 font-semibold border border-neutral-200">Werk</th>
                                            <th class="text-center p-2 font-semibold border border-neutral-200">Rolle</th>
                                            <th class="text-center p-2 font-semibold border border-neutral-200">Schreiber-Typ</th>
                                            <th class="text-center p-2 font-semibold border border-neutral-200">Funktion</th>              
                                            <th class="text-center p-2 font-semibold border border-neutral-200">Mise-en-page</th>
                                            <th class="text-center p-2 font-semibold border border-neutral-200">Umfang</th>
                                        
                                        </tr>
                                    </thead>                                    
                                        
                                    <tbody>
                                        {hand.hand_roles.map(role => {
                                                return role.content.map(msItem => {
                                                    return (
                                                        <tr  class="odd:bg-brand-50 even:bg-brand-100">
                                                            
                                                            <td class="p-2 border border-neutral-200">
                                                                    <NavLink href={`/msitems/${msItem.hit_id}`}>
                                                                        {msItem.locus}
                                                                    </NavLink>
                                                                </td>
                                                                <td class="p-2 border border-neutral-200">{msItem.title_work?.map(work => (
                                                                    <NavLink href={`/works/${work.hit_id}`}>
                                                                        {work.author ? `${work.author}: ${work.title}` : work.title                                                            
                                                                    }
                                                                    </NavLink>  ))}
                                                                    </td>
                                                                <td class="p-2 border border-neutral-200">{(role.role).join(' und ')}</td>
                                                                <td class="p-2 border border-neutral-200">{role.scribe_type?.join(', ')}</td>
                                                               <td class="p-2 border border-neutral-200">{role.function?.join(', ')}</td>
                                                               <td class="p-2 border border-neutral-200">{role.locus_layout?.join(', ')}</td>
                                                               <td class="p-2 border border-neutral-200">{role.scope}</td>
                                                            
                                                        </tr>)
                                                })
                                                })}
                                    

                                    </tbody>
                                    
                                </table>
                            
                            </div>
                        </details>
                    );
                })
            }
            </section>
				
				
			
    </Article>
</PageLayout>
