---
import PageLayout from "@/layouts/page-layout.astro";
import NavLink from "@/components/nav-link.astro";
import IndexCard from "@/components/index-card.astro";
import { Icon } from "astro-icon/components";
import clm210 from "@/icons/clm210.jpg";
import clm6388 from "@/icons/clm6388.png";
import clm6375 from "@/icons/clm6375.png";
import clm6308 from "@/icons/clm6308.png";
import clm6393 from "@/icons/clm6393.png";
import clm6299 from "@/icons/clm6299.jpg";
---

<PageLayout title="Home">
	<div class="w-full bg-brand-800 text-brand-50">
		<div class="md:w-3/4 md:mx-auto p-5 space-y-3">
			<h1 class="text-center text-xl md:text-5xl font-semibold md:tracking-wide">
				<span>Histories in Transition</span>
				<br />
				<span class="text-lg md:text-3xl italic">
					The Case of Freising and Salzburg (9th – 12th c.)
				</span>
			</h1>

			<p class="line-clamp-6 md:line-clamp-none text-justify">
				The project aims to challenge the current understanding of the cultural history of
				historiography in the Carolingian and post-Carolingian world (9th–12th centuries) through an
				innovative and precisely focussed investigation of two major centres of historical writing
				during this period, Salzburg and Freising. We want to explore how in the course of the
				transformation of the Carolingian World, the ways of thinking about, organising, compiling
				and writing history changed between the 9th and 12th centuries. A central aspect of the
				project is the creation of a relational database that enables users to analyse and visualise
				the chronological layers and connections between the manuscripts.
			</p>
			<p class="text-center">
				<NavLink class="italic underline underline-offset-4 hover:text-yellow-300" href="/about"
					>Read more
					<Icon
						class="inline-flex align-baseline"
						aria-hidden="true"
						name="lucide:chevrons-right"
					/>
					<span class="sr-only">about the project</span>
				</NavLink>
			</p>

			<p class="text-center text-yellow-400 font-semibold hidden md:block">
				<Icon class="inline-flex align-baseline" aria-hidden="true" name="lucide:construction" />
				This application is under development.
				<Icon class="inline-flex align-baseline" aria-hidden="true" name="lucide:construction" />
			</p>
		</div>
	</div>

	<div class="md:w-3/4 xl:w-1/2 grid md:grid-cols-2 gap-3 mx-auto md:p-10 p-2">
		<div class="md:col-span-2">
			<IndexCard
				title="Advanced search on text records | MS-items"
				summary="Analyse and explore detailed text records with advanced search and filtering options."
				url={"/search"}
				icon="lucide:notebook-pen"
				image={clm6388}
			/>
		</div>

		<IndexCard
			title="manuscripts"
			summary="Browse categorized descriptions of entire manuscripts in a structured, filterable table."
			url={"/manuscripts"}
			icon="lucide:book"
			image={clm210}
		/>
		<IndexCard
			title="strata"
			summary="Browse all strata from all manuscripts in a structured, filterable table."
			url={"/strata"}
			icon="lucide:book-text"
			image={clm6299}
		/>
		<IndexCard
			title="works"
			summary="View works found in manuscripts, organized in a searchable and sortable table."
			url={"/works"}
			icon="lucide:text"
			image={clm6393}
		/>
		<IndexCard
			title="text records | MS-items"
			summary="Analyse and explore detailed text records with advanced search and filtering options."
			url={"/msitems"}
			icon="lucide:notebook-pen"
			image={clm6388}
		/>
		<IndexCard
			title="scribal hands"
			summary="Discover scribal hands found in a particular manuscript through an interactive table."
			url={"/hands"}
			icon="lucide:hand"
			image={clm6375}
		/>
		<IndexCard
			title="scribes"
			summary="Explore the work of detected scribes across manuscripts with interactive filtering."
			url={"/scribes"}
			icon="lucide:pen-tool"
			image={clm6308}
		/>
		<div class="md:col-span-2">
			<IndexCard
				title="Advanced search on strata"
				summary="Explore textual strata with advanced search and filtering options."
				url={"/search"}
				icon="lucide:book-text"
				image={clm6299}
			/>
		</div>
	</div>
</PageLayout>
