---
import { Icon } from "astro-icon/components";
import NavLink from "./nav-link.astro";
import { Image } from "astro:assets";
import oeawLogo from "../../public/images/oeaw-logo.png";
import imafoLogo from "../../public/images/imafo_logo_web.png";
import acdhLogo from "../../public/images/acdh-ch-logo-light.svg";
import fwfLogo from "../../public/images/fwf-logo.png";
import dfgLogo from "../../public/images/dfg_logo_schriftzug_blau.gif";
import tubLogo from "../../public/images/uni_tuebingen_logo.jpg";
import scienceLogo from "../../public/images/science-europe_logo.png";
import weaveLogo from "../../public/images/weave_logo.png";
---

<footer class="bg-brandRose border-t border-gray-300">
	<div class="mx-auto grid max-w-screen-xl gap-6 px-4 py-12 text-[#444]">
		<div class="flex items-center gap-x-1.5 border-b border-gray-300 pb-4">
			<Icon aria-hidden="true" class="size-4.5" name="lucide:message-circle" />
			<span class="text-sm font-medium">Kontakt</span>
		</div>
		<div class="mx-auto grid md:flex gap-6">
			<div>
				<span class="font-semibold">Forschungseinrichtungen:</span>
				<div class="md:grid grid-cols-[1fr_2fr] gap-2">
					<a class="hidden md:inline-flex py-1" href="https://www.oeaw.ac.at/en/imafo/home">
						<Image src={imafoLogo} alt="" class="h-auto w-60 m-auto" />
						<span class="sr-only">Institut für Mittelalterforschung (IMAFO)</span>
					</a>
					<p>
						<NavLink class="font-semibold" href="https://www.oeaw.ac.at/en/imafo/home"
							>Institut für Mittelalterforschung (IMAFO)</NavLink
						>
						|| Österreichische Akademie der Wissenschaften

						<br /> Dominikanerbastei 16, 1010 Wien
						<br />
						E:
						<a
							class="underline decoration-dotted underline-offset-4 hover:no-underline"
							href="mailto:imafo.office@oeaw.ac.at"
						>
							imafo@oeaw.ac.at
						</a>
					</p>
					<a class="hidden md:inline-flex py-1" href="https://uni-tuebingen.de/">
						<Image src={tubLogo} alt="" class="m-auto" />
						<span class="sr-only">Eberhard Karls Universität Tübingen</span>
					</a>
					<p>
						<NavLink class="font-semibold" href="https://www.oeaw.ac.at/en/imafo/home">
							Eberhard Karls Universität Tübingen</NavLink
						>
						<br /> Geschwister-Scholl-Platz, 72074 Tübingen
						<br />
						E:
						<a
							class="underline decoration-dotted underline-offset-4 hover:no-underline"
							href="mailto:info@uni-tuebingen.de"
						>
							info@uni-tuebingen.de
						</a>
					</p>
				</div>
			</div>

			<div class="flex gap-4">
				<a class="hidden md:inline-flex py-1" href="https://www.oeaw.ac.at/acdh/">
					<Image src={acdhLogo} alt="" />
					<span class="sr-only">
						Austrian Centre for Digital Humanities and Cultural Heritage
					</span>
				</a>
				<div class="grid gap-2">
					<span class="font-semibold text-lg">Technische Umsetzung:</span>
					<p>
						<NavLink class="font-semibold" href="https://www.oeaw.ac.at/acdh/"
							>ACDH-CH Austrian Centre for Digital Humanities and Cultural Heritage</NavLink
						>
						<br />
						Österreichische Akademie der Wissenschaften
						<br />
						Bäckerstraße 13, 1010 Wien
						<br />
						T:
						<a
							class="underline decoration-dotted underline-offset-4 hover:no-underline"
							href="tel:+43 1 51581-2200"
						>
							+43 1 51581-2200
						</a>
						<br />
						E:
						<a
							class="underline decoration-dotted underline-offset-4 hover:no-underline"
							href="mailto:acdh-ch@oeaw.ac.at">acdh-ch@oeaw.ac.at</a
						>
					</p>
				</div>
			</div>

			<div class="grid gap-y-2">
				<div class="font-semibold">Gefördert von:</div>
				<a
					href="https://karten-t.dfg.de/gepris/projekt/524671186?context=projekt&task=showDetail&id=524671186&"
				>
					<Image src={dfgLogo} alt="Deutsche Forschungsgemeinschaft" class="h-auto w-60" />
				</a>

				<a href="https://www.fwf.ac.at/forschungsradar/10.55776/I6576">
					<Image src={fwfLogo} alt="Österreichischer Wissenschaftsfonds" class="h-auto w-60" />
				</a>
				<br />
				<div class="font-semibold">Unterstützt von:</div>
				<a href="https://weave-research.net/">
					<Image src={weaveLogo} alt="Weave" class="m-auto" />
				</a>
				<a href="https://scienceeurope.org/">
					<Image src={scienceLogo} alt="Science Europe" class="m-auto" />
				</a>
			</div>
		</div>
	</div>
	<div class="bg-brandRed py-2 text-center text-brandIvory">
		&copy; Copyright OEAW |
		<NavLink
			class="underline decoration-dotted underline-offset-4 hover:no-underline"
			href="/imprint"
		>
			Imprint
		</NavLink>
		|
		<NavLink
			class="underline decoration-dotted underline-offset-4 hover:no-underline"
			href="https://github.com/histories-in-transition/hit-astro"
		>
			Code Repo
			<Icon class="inline-flex" aria-hidden="true" name="lucide:github" />
		</NavLink>
	</div>
</footer>
