---
import { Icon } from "astro-icon/components";
import NavLink from "./nav-link.astro";
import { Image } from "astro:assets";
import oeawLogo from "../../public/images/oeaw-logo.png";
import imafoLogo from "../../public/images/imafo_logo_web.png";
import acdhLogo from "../../public/images/acdh-ch-logo-light.svg";
import fwfLogo from "../../public/images/fwf-logo.png";
import dfgLogo from "../../public/images/dfg_logo_schriftzug_blau.gif";
import tubLogo from "../../public/images/uni_tuebingen_logo.png";
import scienceLogo from "../../public/images/science-europe_logo.png";
import weaveLogo from "../../public/images/weave_logo.png";
---

<footer class="bg-brand-100 border-t border-gray-300">
	<div class="mx-auto grid max-w-(--breakpoint-xl) gap-6 px-4 py-12 text-[#444]">
		<div class="flex items-center gap-x-1.5 border-b border-gray-300 pb-4">
			<Icon aria-hidden="true" class="size-4.5" name="lucide:message-circle" />
			<span class="text-sm font-medium">Kontakt</span>
		</div>
		<div class="mx-auto grid md:grid-cols-[3fr_2fr_1fr] gap-4">
			<section>
				<div class="md:grid grid-cols-[2fr_3fr] gap-4 m-2">
					<a class="hidden md:inline-flex py-1" href="https://www.oeaw.ac.at/en/imafo/home">
						<Image src={imafoLogo} alt="" class="h-auto w-60 m-auto" />
						<span class="sr-only">Institut für Mittelalterforschung (IMAFO)</span>
					</a>
					<p>
						<NavLink class="font-semibold" href="https://www.oeaw.ac.at/en/imafo/home"
							>Institut für Mittelalterforschung (IMAFO)</NavLink
						>
						|| Österreichische Akademie der Wissenschaften

						<br /> Dominikanerbastei 16, 1010 Wien
						<br />
						E:
						<a
							class="underline decoration-dotted underline-offset-4 hover:no-underline"
							href="mailto:imafo.office@oeaw.ac.at"
						>
							imafo@oeaw.ac.at
						</a>
					</p>
					<a class="hidden md:inline-flex py-1" href="https://uni-tuebingen.de/">
						<Image src={tubLogo} alt="" class="w-60 h-auto m-auto" />
						<span class="sr-only">Eberhard Karls Universität Tübingen</span>
					</a>
					<p>
						<NavLink class="font-semibold" href="https://uni-tuebingen.de/">
							Eberhard Karls Universität Tübingen</NavLink
						>
						<br /> Geschwister-Scholl-Platz, 72074 Tübingen
						<br />
						E:
						<a
							class="underline decoration-dotted underline-offset-4 hover:no-underline"
							href="mailto:info@uni-tuebingen.de"
						>
							info@uni-tuebingen.de
						</a>
					</p>
				</div>
			</section>

			<section>
				<div class="flex gap-4 items-start">
					<a class="hidden md:inline-flex mt-4" href="https://www.oeaw.ac.at/acdh/">
						<Image src={acdhLogo} alt="" />
						<span class="sr-only"> Austrian Centre for Digital Humanities </span>
					</a>
					<div class="grid gap-2 m-2">
						<p>
							<NavLink class="font-semibold" href="https://www.oeaw.ac.at/acdh/"
								>ACDH Austrian Centre for Digital Humanities</NavLink
							>
							<br />
							Österreichische Akademie der Wissenschaften
							<br />
							Bäckerstraße 13, 1010 Wien
							<br />
							T:
							<a
								class="underline decoration-dotted underline-offset-4 hover:no-underline"
								href="tel:+43 1 51581-2200"
							>
								+43 1 51581-2200
							</a>
							<br />
							E:
							<a
								class="underline decoration-dotted underline-offset-4 hover:no-underline"
								href="mailto:acdh@oeaw.ac.at">acdh@oeaw.ac.at</a
							>
						</p>
					</div>
				</div>
			</section>

			<section class="grid">
				<div class="grid m-2 gap-4">
					<a
						href="https://karten-t.dfg.de/gepris/projekt/524671186?context=projekt&task=showDetail&id=524671186&"
					>
						<Image src={dfgLogo} alt="Deutsche Forschungsgemeinschaft" class="h-auto w-60 m-auto" />
					</a>

					<a href="https://www.fwf.ac.at/forschungsradar/10.55776/I6576">
						<Image
							src={fwfLogo}
							alt="Österreichischer Wissenschaftsfonds"
							class="h-auto w-60 m-auto"
						/>
					</a>
				</div>
				<span class="font-semibold">Unterstützt von:</span>
				<div class="grid m-2 gap-2">
					<a href="https://weave-research.net/">
						<Image src={weaveLogo} alt="Weave" class="m-auto" />
					</a>
					<a href="https://scienceeurope.org/">
						<Image src={scienceLogo} alt="Science Europe" class="m-auto" />
					</a>
				</div>
			</section>
		</div>
	</div>
	<div class="bg-brand-800 py-2 text-center text-brand-50">
		&copy; Copyright OEAW |
		<NavLink
			class="underline decoration-dotted underline-offset-4 hover:no-underline"
			href="/imprint"
		>
			Imprint
		</NavLink>
		|
		<NavLink
			class="underline decoration-dotted underline-offset-4 hover:no-underline"
			href="https://github.com/histories-in-transition/hit-astro"
		>
			Code Repo
			<Icon class="inline-flex" aria-hidden="true" name="lucide:github" />
		</NavLink>
	</div>
</footer>
