---
import PageLayout from "@/layouts/page-layout.astro";
import Article from "@/components/articleMs.astro";
import type { Manuscript } from "@/types/index.ts";
import manuscripts from "@/content/data/manuscripts.json";
import MsHeader from "@/components/manuscript/MsHeader.astro";
import MsOverview from "@/components/manuscript/MsOverview.astro";
import MsHands from "@/components/manuscript/MsHands.astro";
import MsHistory from "@/components/manuscript/MsHistory.astro";
import MsBibliography from "@/components/manuscript/MsBibliography.astro";
import MsContent from "@/components/manuscript/MsContent.astro";
import MsStrata from "@/components/manuscript/MsStrata.astro";
import MsMaterial from "@/components/manuscript/MsMaterial.astro";
import Aside from "@/components/ui/Aside.astro";

export async function getStaticPaths() {
	const paths = manuscripts.map((manuscript) => {
		const manuscriptId = manuscript.hit_id;

		return {
			params: { id: manuscriptId },
			props: { data: manuscript as Manuscript },
		};
	});
	return paths;
}

const { data: manuscript } = Astro.props;

// Collect TOC sections (id + heading) manually
const tocSections = [
	{ id: "msInfo", title: "Überblick" },
	{ id: "msMaterial", title: "Materialität" },
	{ id: "msHands", title: "Paläographie" },
	{ id: "msHistory", title: "Geschichte" },
	{ id: "msContent", title: "Inhalt" },
	{ id: "msStrata", title: "Strata" },
	// Add more as needed
];
---

<PageLayout title={manuscript?.shelfmark}>
	<div class="grid grid-cols-1 md:grid-cols-[1fr_12fr] gap-8 md:pl-6">
		<!-- Sidebar / TOC -->
		<Aside sections={tocSections} />
		<Article
			prevLink={`/manuscripts/${manuscript.prev.id}`}
			nextLink={`/manuscripts/${manuscript.next.id}`}
			mainTitle={manuscript?.library[0]?.place[0]?.value +
				", " +
				manuscript.library[0].abbreviation +
				", " +
				manuscript.shelfmark}
			authorEntry={manuscript?.author_entry.map((a) => a).join(", ")}
		>
			<MsHeader manuscript={manuscript} />
			<MsOverview manuscript={manuscript} />
			<MsMaterial manuscript={manuscript} />

			{manuscript?.hands?.length > 0 ? <MsHands manuscript={manuscript} /> : ""}

			<MsHistory manuscript={manuscript} />

			{manuscript.bibliography.length > 0 ? <MsBibliography manuscript={manuscript} /> : ""}
			{
				manuscript.content.length > 0 ||
				manuscript.cod_units.some((unit) => unit.content.length > 0) ? (
					<MsContent manuscript={manuscript} />
				) : null
			}
			{manuscript.strata.length > 0 ? <MsStrata manuscript={manuscript} /> : ""}
		</Article>
	</div>
</PageLayout>
