---
import {Icon} from "astro-icon/components";
import PageLayout from "@/layouts/page-layout.astro";
import Article from "@/components/article.astro";
import NavLink from "@/components/nav-link.astro";
import type {Manuscript} from "@/lib/data";

import manuscripts from "@/content/data/manuscripts.json";

export async function getStaticPaths() {

  const paths = manuscripts.map((manuscript) => {
    const manuscriptId = manuscript.hit_id;     

    return {
      params: { id: manuscriptId },
      props: { data: manuscript },
    };
  });

  return paths;
}

const { data: manuscript } = Astro.props;

---

<PageLayout title={manuscript?.shelfmark}> 
    <Article
            prevLink={`/manuscripts/${manuscript.prev.id}`}
            nextLink={`/manuscripts/${manuscript.next.id}`}
            mainTitle={manuscript.library_full + ', ' + manuscript.shelfmark}
          >          
          <div class="flex justify-between">
            <div class="flex gap-2 justify-start">
              {manuscript.handschriftenportal_url &&
              <NavLink href={manuscript.handschriftenportal_url} class="border border-brandRed rounded-md py-2 px-4 bg-brandRed text-brandRose hover:bg-brandRose hover:text-brandRed transition"
            >HSP</NavLink>}
            {manuscript.manuscripta_url &&
              <NavLink href={manuscript.manuscripta_url} class="border border-brandRed rounded-md py-2 px-4 bg-brandRed text-brandRose hover:bg-brandRose hover:text-brandRed transition"
            >manuscripta</NavLink>}
            {manuscript.digi_url &&
              <NavLink href={manuscript.digi_url} class="border border-brandRed rounded-md py-2 px-4 bg-brandRed text-brandRose hover:bg-brandRose hover:text-brandRed transition"
            >Digitalisat</NavLink>}
            {manuscript.catalog_url &&
              <NavLink href={manuscript.catalog_url} class="border border-brandRed rounded-md py-2 px-4 bg-brandRed text-brandRose hover:bg-brandRose hover:text-brandRed transition"
            >Katalog</NavLink>}
            </div>
            {manuscript.status.some(status => status.includes('Bearbeitung')) && (
  <div class="flex items-center gap-x-1.5 justify-center text-brandRed font-semibold">
    <Icon aria-hidden="true" name="lucide:construction" />
    <span> {manuscript.status.join(' | ')} </span>
    <Icon aria-hidden="true" name="lucide:construction" />
  </div>
)}

            <div class="flex gap-2 justify-end">
              <button class="border border-brandRed rounded-md py-2 px-4 bg-brandRed text-brandRose hover:bg-brandRose hover:text-brandRed transition" 
              id="download-pdf">PDF</button>
            </div>
          </div>
         
          <section aria-labelledby="msInfo" class="border rounded-sm border-gray-200 shadow-sm bg-brandRose text-sm md:leading-7 md:text-base p-5">
            <h2 id="msInfo" class="text-xl font-semibold text-brandRed">Überblick:</h2>
            <dl class="grid grid-cols-[1fr_5fr] p-3">

              <dt class="font-semibold border-r border-gray-300 pr-2">Ort:</dt>
              <dd class="pl-5">{manuscript?.library_place[0]?.place[0]?.value}</dd>              
              
              <dt class="font-semibold border-r border-gray-300 pr-2">Bibliothek:</dt>
              <dd class="pl-5">
                {manuscript.library_full}
              </dd>
              
              <dt class="font-semibold border-r border-gray-300 pr-2">Signatur:</dt>
              <dd class="pl-5">{manuscript?.shelfmark.split(',')[1]}</dd>

              {manuscript.idno_former &&
              <dt class="font-semibold border-r border-gray-300 pr-2">Olim:</dt>
              <dd class="pl-5">{manuscript?.idno_former}</dd>}
              {manuscript.charakter.length > 0 &&
                <dt class="font-semibold border-r border-gray-300 pr-2">Typ der HS:</dt>
                <dd class="pl-5">{manuscript.charakter.join(', ')}</dd>
              }
              {manuscript.case_study.length > 0 &&
                <dt class="font-semibold border-r border-gray-300 pr-2">Case study:</dt>
                <dd class="pl-5">{manuscript.case_study.join(', ')}</dd>}
             
              {manuscript.content_summary &&
                <dt class="font-semibold border-r border-gray-300 pr-2">Zusammenfassung:</dt>
                <dd class="pl-5">{manuscript.content_summary}</dd>}
            </dl>
          </section>
          <section aria-labelledby="msMaterial" class="border rounded-sm border-gray-200 shadow-sm 
          bg-brandRose text-sm md:leading-7 md:text-base p-5">
            <h2 id="msMaterial" class="text-xl font-semibold text-brandRed">Materialität:</h2>
            <dl class=" grid grid-cols-[1fr_5fr] p-3">
              <dt class="font-semibold border-r border-gray-300 pr-2">Material:</dt>
              <dd class="pl-5">
                  {manuscript?.material === "parchment" && <span>Pergament</span>}
                  {manuscript?.material === "mixed" && <span>Mischung</span>}
                  {manuscript?.material === "paper" && <span>Papier</span>}
                  {manuscript?.material_spec && 
                    <span>
                       <Icon class="inline-flex" aria-hidden="true" name="lucide:arrow-right"/>  
                       {manuscript?.material_spec}</span>
                   
                  }
              </dd>
                   
              <dt class="font-semibold border-r border-gray-300 pr-2">Umfang:</dt>
              <dd class="pl-5">{manuscript?.extent} Bll.</dd> 

              <dt class="font-semibold border-r border-gray-300 pr-2">Maße:</dt>
              <dd class="pl-5">{manuscript?.height} × {manuscript?.width} mm</dd> 

              <dt class="font-semibold border-r border-gray-300 pr-2">Foliierung:</dt>
              <dd class="pl-5">{manuscript?.foliation ?? 'N/A'}</dd>

              {manuscript.quiremarks && (
                <dt class="font-semibold border-r border-gray-300 pr-2">Kustoden:</dt>
                <dd class="pl-5">{manuscript?.quiremarks}</dd>
               )} 
              {manuscript.catchwords && (
                   <dt class="font-semibold border-r border-gray-300 pr-2">Reklamanten:</dt>
                   <dd class="pl-5">{manuscript?.catchwords}</dd>
              )}
              <dt class="font-semibold border-r border-gray-300 pr-2">Lagenstruktur:</dt>
              <dd class="pl-5">
                {manuscript.quire_structure && (
                   <span set:html={manuscript?.quire_structure}></span>
                )}
              </dd>            
              
              <dt class="font-semibold border-r border-gray-300 pr-2">Einband:</dt>
              <dd class="pl-5">
                {manuscript?.binding_date.map(date => (
                  <span>{date?.value}</span>
                ))}
                {manuscript?.binding}</dd>
              
                {manuscript?.acc_mat && (
                   <dt class="font-semibold border-r border-gray-300 pr-2">Fragmente:</dt>
                    <dd class="pl-5">
                  {manuscript?.acc_mat}
                </dd>
                )}                
            </dl>
          </section> 
          
          {manuscript?.cod_units?.length > 0 
          ?
                    <section aria-labelledby="codUnits" class="border rounded-sm border-gray-200 shadow-sm 
                    bg-brandRose text-sm md:leading-7 md:text-base p-5">
                    
                    {manuscript.cod_units.map((unit) => (
                      <> 
                          <h2 id="codUnits" class="text-lg font-semibold text-brandRed">Kodikologische Einheit {unit.number}: </h2>
                          <dl class=" grid grid-cols-[1fr_5fr] p-3">
                            <dt class="font-semibold border-r border-gray-300 pr-2">Fols:</dt>
                            <dd class="pl-5">
                                {unit.locus 
                                ? unit.locus
                                : 'N/A'}
                                
                            </dd>
                            {unit.quires_number 
                                ? 
                                <dt class="font-semibold border-r border-gray-300 pr-2">Lagen:</dt>
                            <dd class="pl-5">
                                {unit.quires_number}
                            </dd> 
                            : ''}

                            {unit.basic_structure.length > 0 && 
                            <dt class="font-semibold border-r border-gray-300 pr-2">Grundstruktur:</dt>
                            <dd class="pl-5">
                                {unit.basic_structure.map(struct => struct.value).join(', ')} 
                            </dd>
                            }
                            
                            {unit.heigth && unit.width
                              ? 
                            ( <>
                              <dt class="font-semibold border-r border-gray-300 pr-2">Maße:</dt>
                              <dd class="pl-5">
                              {unit.heigth} × {unit.width} mm
                              
                              {unit.written_height && unit.written_width && 
                              <>
                                [{unit.written_height} × {unit.written_width} mm]
                              </>}                      
                            </dd>
                            </>)
                              : ''
                            } 
                            
                            
                              {unit.columns.length > 0 &&
                              <dt class="font-semibold border-r border-gray-300 pr-2">Spalten:</dt>
                                <dd class="pl-5">
                            
                                  {unit.columns.map(col => col).join(', ')} 
                              </dd> }
                            {unit.lines_number
                            ? <dt class="font-semibold border-r border-gray-300 pr-2">Zeilen:</dt>
                            <dd class="pl-5">
                                {unit.lines_number} 
                            </dd>
                            : ''}    
                            {unit.decoration &&
                            <dt class="font-semibold border-r border-gray-300 pr-2">Dekoration:</dt>
                            <dd class="pl-5">
                                {unit.decoration} 
                            </dd>    
                            } 

                            {unit.codicological_reworking.length > 0 &&
                            <dt class="font-semibold border-r border-gray-300 pr-2">Rework:</dt>
                            <dd class="pl-5">
                                {unit.codicological_reworking.map(rework => rework.value).join(', ')} 
                            </dd>    
                            }
                            {unit.prov_place.length > 0 &&
                            <dt class="font-semibold border-r border-gray-300 pr-2">Provenienz:</dt>
                            <dd class="pl-5">
                                <ul>
                                  {unit.prov_place.map(prov_unit => (
                                  <li>
                                    {prov_unit.type === 'orig' &&
                                    <span>Entstehungsort: </span>}
                                    {prov_unit.place.map(place => place.value)}                          
                                    {/* check if there are dates for the origin */ }
                                  {prov_unit.from.length > 0 &&
                                    <span>ab 
                                      {prov_unit.from.map(date => date.value).join(', ')}
                                      {prov_unit.uncertain_from === false && '(?)'}
                                    </span>}
                                    
                                    {prov_unit.till.length > 0 &&
                                    <span>bis 
                                      {prov_unit.till.map(date => date.value).join(', ')}
                                      {prov_unit.uncertain_till === false && '(?)'}
                                    </span>}
                                  </li>
                                ))}
                                  </ul>
                              </dd>
                              }          
                          </dl>
                      </>
                    ))}

                    </section>
                    : ''  
          } 
          <section aria-labelledby="msHistory" class="border rounded-sm border-gray-200 shadow-sm bg-brandRose text-sm md:leading-7 md:text-base p-5">
            <h2 id="msHistory" class="text-xl font-semibold text-brandRed">Geschichte:</h2>
           
            <dl class=" grid grid-cols-[1fr_5fr] p-5">               
                <dt class="font-semibold border-r border-gray-300 pr-2">Herkunfsort:</dt>
                <dd class="pl-5">{manuscript?.orig_place.map(place => {
                  return place.value}).join(', ')}</dd>
                <dt class="font-semibold border-r border-gray-300 pr-2">Provenienz:</dt>
                <dd class="pl-5">
                  {
                      manuscript?.provenance.map((entry, index) => (
                        <>{entry.value}                         
              
                          {index < manuscript.provenance.length - 1 && ', '}
                        </>
                      ))
                    }</dd>
                <dt class="font-semibold border-r border-gray-300 pr-2">Datierung:</dt>
                <dd class="pl-5">
                    {manuscript?.orig_date.length > 0 &&
                    <ul>
                      {manuscript.orig_date.map((dating) => (
                        <li>{dating.date.map(d => d.value)} nach {dating.authority[0]?.author} <span>({dating.authority[0].citation || 'N/A'})</span></li>
                      ))}
                      </ul>}
                </dd>
              </dl> 
              {manuscript?.history !== undefined 
            ? <p class="p-5">{manuscript?.history}</p>
            : ''}
          </section> 

          {manuscript.bibliography.length > 0 
            ? <section aria-labelledby="bibl" class="border rounded-sm border-gray-200 shadow-sm bg-brandRose text-sm md:leading-7 md:text-base p-5">
              <h2 id="bibl" class="text-xl font-semibold text-brandRed">Bibliographie:</h2>    
              <ul>
                {manuscript.bibliography.map(bibl => 
                (<li>{bibl}</li>))}
              </ul>
            </section>
            : ''
          }

        <section aria-labelledby="msContent" class="border rounded-sm border-gray-200 shadow-sm bg-brandRose text-sm md:leading-7 md:text-base p-5">
          <h2 id="msContent" class="text-xl font-semibold text-brandRed">Inhalt:</h2>           
            {manuscript.cod_units.map((unit) => (
                <dl class="grid grid-cols-[1fr_5fr] p-3">
                <dt class="font-semibold border-r border-gray-300 pr-2">
                  {manuscript.cod_units.length > 1 && `Kod. Einheit ${unit.number} (fols. ${unit.locus})`}</dt>
                <dd class="pl-5"></dd>

                {unit.content
                   .sort((a, b) => {
                const parseLocus = (locus) => {
                  return locus.split('-').map(part => {
                    const match = part.match(/^(\d+)([rv]?)$/);
                    if (!match) return [Infinity, "z"]; // Default if parsing fails
                    return [parseInt(match[1], 10), match[2] || ""]; // Extract number & letter
                  });
                };

                // Extract start and end locus parts for both items
                const [startA, endA = startA] = parseLocus(a.locus);
                const [startB, endB = startB] = parseLocus(b.locus);

                return (
                  startA[0] - startB[0] ||  // Compare start numbers
                  startA[1].localeCompare(startB[1]) || // "r" before "v"
                  endA[0] - endB[0] || // Compare end numbers
                  endA[1].localeCompare(endB[1]) // Compare end suffix
                );
              })
                  .map(filteredItem => (
                    
                      <dt class="border-r border-gray-300 pr-2 justify-self-end">
                        <NavLink href={`/msitems/${filteredItem.hit_id}`}>{filteredItem.locus}</NavLink>
                      </dt>
                      <dd class="pl-5">
                        {filteredItem.title_work.map(work => (
                            <span class="font-semibold underline underline-offset-4 hover:text-brandRed">
                              {work.author.length > 0 ? (
                                <NavLink class="no-underline" href={`/works/${work.hit_id}`}>
                                  {work.author.map(aut => aut.name).join(', ')}: {work.title}
                                </NavLink>
                              ) : (
                                <NavLink class="no-underline" href={`/works/${work.hit_id}`}>{work.title}</NavLink>
                              )}
                            </span>
                          ))}

                        {filteredItem.title_note && <span>({filteredItem.title_note})</span>}
                        {filteredItem.rubric && (
                          <span> 
                            {/* check for [text] shouldl be not-italic */}
                            ›{filteredItem.rubric.split(/(\[ *.*?\])/).map((part: string) =>
                              part.startsWith('[') && part.endsWith(']')
                                ? <span class="not-italic">{part}</span> // Non-italic for bracketed text
                                : <span class="italic">{part}</span> // Italic for other text
                            )}‹
                          </span>
                        )}                          
                        
                        {filteredItem.incipit && (
                          <span>
                            {filteredItem.incipit.split(/(\[ *.*?\])/).map((part: string) =>
                              part.startsWith('[') && part.endsWith(']')
                                ? <span class="not-italic">{part}</span> // Non-italic for bracketed text
                                : <span class="italic">{part}</span> // Italic for other text
                            )}
                            {filteredItem.incipit.trim().endsWith('…') ? '' : '…'}
                          </span>
                        )}
                        {filteredItem.explicit && (
                          <span class="italic">
                            {filteredItem.explicit.split(/(\[.*?\])/).map((part: string) =>
                              part.startsWith('[') && part.endsWith(']')
                                ? <span class="not-italic">{part}</span> // Non-italic for bracketed text
                                : <span>{part}</span> // Italic for other text
                            )}
                            {filteredItem.explicit.trim().startsWith('…') ? '' : '…'}
                          </span>
                        )}

                        {filteredItem.final_rubric && 
                        <span class="italic">
                          ›{filteredItem.final_rubric.split(/(\[ *.*?\])/).map((part: string) =>
                              part.startsWith('[') && part.endsWith(']')
                                ? <span class="not-italic">{part}</span> // Non-italic for bracketed text
                                : <span class="italic">{part}</span> // Italic for other text
                            )}‹
                          </span>}

                        {filteredItem.decoration.length > 0 && <span>Ausstattung: {filteredItem.decoration}</span>}
                        
                      </dd>
                  ))}
                  </dl>
            ))}
        </section> 
        
        {manuscript.strata.length > 0 
        ?                    
           <section aria-labelledby="msStrata" class="border rounded-sm border-gray-200 shadow-sm bg-brandRose text-sm md:leading-7 md:text-base p-5">
            <h2 id="msStrata" class="text-xl font-semibold text-brandRed">Strata:</h2> 
            <dl class="grid grid-cols-[1fr_5fr] p-3">
                  {manuscript.strata.map(stratum => {
                      return <>
                      <dt class="font-semibold border-r border-gray-300 pr-2 justify-self-end">Stratum {stratum.number}: </dt>
                      <dd class="pl-5">
                        <span class="underlined">
                          {Array.isArray(stratum.character) && stratum.character.length > 0 
                            ? stratum.character.join(', ') 
                            : 'N/A'}
                        </span>
                        {stratum?.note ? `: ${stratum.note}` : ''}
                      </dd>

                        </>
            
                  })}
            </dl>
          {/* Table for displaying information about the strata - each strata is defined by the hands_role */}
          <div class="overflow-x-auto">
              <table class="w-full bg-brandRose rounded-sm shadow-sm border border-gray-200 lg:leading-7 text-sm lg:text-base data-table">
                <thead class="bg-brandRoseDark">
                  <tr>
                    <th class="text-center p-2 font-semibold border border-gray-300">
                        <form role="search" data-search-form>
                          <label class="flex flex-col items-start p-2">
                            <div>Stratum</div>
                            <input type="search" data-filter="string" name="q" placeholder="Suche ..." class="mt-2 w-full p-2 border border-gray-200 rounded font-normal">
                          </label>
                        </form>
                      </th>
              
                      <th class="text-center p-2 font-semibold border border-gray-300 min-w-32">
                        <form role="search" data-search-form>
                          <div>Datierung</div>
                          <div class="xl:flex">
                            <label class="flex flex-col items-start p-2">
                              <div class="sr-only">Datierung nach</div>
                              <input
                                data-filter="year"
                                data-bound="min"
                                placeholder="nicht vor ..."
                                class="filter-input mt-2 w-full p-2 border border-gray-200 rounded font-normal">
                            </label>
                            <label class="flex flex-col items-start p-2">
                              <div class="sr-only">Datierung vor</div>
                              <input
                                data-filter="year"
                                data-bound="max"
                                placeholder="nicht nach ..."
                                class="filter-input mt-2 w-full p-2 border border-gray-200 rounded font-normal">
                            </label>
                          </div>
                        </form>
                      </th>
                      <th class="text-center p-2 font-semibold border border-gray-300">
                      <form role="search" data-search-form>
                        <label class="flex flex-col items-start p-2">
                          <div>Werk</div>
                          <input type="search" name="q"
                              data-filter="string" placeholder="Suche ..." class="mt-2 w-full p-2 border border-gray-200 rounded font-normal">
                        </label>
                      </form>
                    </th>
                    <th class="text-center p-2 font-semibold border border-gray-300">
                      <form role="search" data-search-form >
                        <label class="flex flex-col items-start p-2">
                          <div>Hand</div>
                          <input type="search" data-filter="string" name="q" placeholder="Suche ..." class="mt-2 w-full p-2 border border-gray-200 rounded font-normal">
                        </label>
                      </form>
                    </th>
                    <th class="text-center p-2 font-semibold border border-gray-300">
                        <form role="search" data-search-form>
                          <label class="flex flex-col items-start p-2">
                            <div>Rolle</div>
                            <input type="search" data-filter="string" name="q" placeholder="Suche ..." class="mt-2 w-full p-2 border border-gray-200 rounded font-normal">
                          </label>
                        </form>
                      </th>
                      <th class="text-center p-2 font-semibold border border-gray-300">
                        <form role="search" data-search-form>
                          <label class="flex flex-col items-start p-2">
                            <div>Schreiber-Typ</div>
                            <input type="search" data-filter="string" name="q" placeholder="Suche ..." class="mt-2 w-full p-2 border border-gray-200 rounded font-normal">
                          </label>
                        </form>
                      </th>
                     <th class="text-center p-2 font-semibold border border-gray-300">
                        <form role="search" data-search-form>
                          <label class="flex flex-col items-start p-2">
                            <div>Funktion</div>
                            <input type="search" data-filter="string" name="q" placeholder="Suche ..." class="mt-2 w-full p-2 border border-gray-200 rounded font-normal">
                          </label>
                        </form>
                      </th>
                      <th class="text-center p-2 font-semibold border border-gray-300">
                      <form role="search" data-search-form >
                        <label class="flex flex-col items-start p-2">
                          <div>Umfang</div>
                          <input type="search" data-filter="string" name="q" placeholder="Suche ..." class="mt-2 w-full p-2 border border-gray-200 rounded font-normal">
                        </label>
                      </form>
                    </th>
                    <th class="text-center p-2 font-semibold border border-gray-300">
                        <form role="search" data-search-form>
                          <label class="flex flex-col items-start p-2">
                            <div>Mise-en-page</div>
                            <input type="search" data-filter="string" name="q" placeholder="Suche ..." class="mt-2 w-full p-2 border border-gray-200 rounded font-normal">
                          </label>
                        </form>
                      </th>
                     
                  </tr>
                </thead>
                <tbody>
                  {manuscript.strata
                  .flatMap(stratum => stratum.hand_roles
                  .map((role) => (
                    <tr class="odd:bg-brandIvory even:bg-brandRose">                      
                      <td class="p-2 border border-gray-300 text-center">
                        {stratum.number}
                      </td>
                      <td class="p-2 border border-gray-300">
                        {role.hand.flatMap(hand => hand.date. map(d => d.range)).join(' | ')}
                      </td>
                      <td class="p-2 border border-gray-300">
                        {role.ms_item.length > 1 ? (
                          <ul class="list-disc list-inside">
                            {role.ms_item.map((msItem) => (
                             <li>
                              <span>
                                {msItem.author && msItem.author.length > 0
                                  ? `${msItem.author.join(', ')}: ${msItem.title}`
                                  : msItem.title}
                              </span>
                              <NavLink href={`/msitems/${msItem?.hit_id}`}>
                                ({msItem.locus})
                              </NavLink>
                            </li>

                            ))}
                          </ul>
                        ) : (
                          role.ms_item.map((msItem) => (                           
                          <span>
                                {msItem.author && msItem.author.length > 0
                                  ? `${msItem.author.join(', ')}: ${msItem.title}`
                                  : msItem.title}
                              </span>
                              <NavLink href={`/msitems/${msItem?.hit_id}`}>
                                ({msItem.locus})
                              </NavLink>
                              ))
                            )
                          }
                        </td>

              
                     
                      <td class="p-2 border border-gray-300">
                        {role.hand.length > 1 ? (
                          <ul class="list-disc list-inside">
                            {role.hand.map((hand) => (
                              <li>
                        <NavLink class="hover:text-brandRed after:content-['_↗']" 
                        href={`/hands/${hand?.hit_id}`}>{hand.label}</NavLink>
                      </li>
                            ))}
                          </ul>
                        ) : (
                        <NavLink class="hover:text-brandRed after:content-['_↗']" 
                        href={`/hands/${role.hand[0]?.hit_id}`}>{role.hand[0]?.label}</NavLink>
                        )}   </td>
                      <td class="p-2 border border-gray-300">{role.role.map(ro => ro).join(', ')}</td>
                      <td class="p-2 border border-gray-300">{role.scribe_type.map(t => t).join(', ')}</td>
                      <td class="p-2 border border-gray-300">{role.function.map(func => func).join(', ')}</td>
                      <td class="p-2 border border-gray-300">{role.locus}</td>
                      <td class="p-2 border border-gray-300">{role.locus_layout.map(scope => scope).join(' | ')}</td>
                    </tr>
                  )))}
                </tbody>
              
              </table>
            </div> 
          
          </section>
          : ""} 
        
           
    </Article>
    <script src="@/lib/table-search.js"></script>
    <script src="@/lib/download-pdf.js"></script>
</PageLayout>